{{define "footer"}}
    <div class="container mx-auto text-center">
        <hr/>
        <p class="text-gray-600 text-sm">
            MemAlloc: {{b_fmt .MemStats.Alloc}} /
            NumGC: {{.MemStats.NumGC}} /
            NumGoroutines: {{.NumGoroutines}} /
            GoVersion: {{.GoVersion}}
        </p>
        <address class="text-gray-600 text-sm">Kaginawa Server</address>
    </div>
    </body>
    </html>
{{end}}
