<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kaginawa Server</title>
    <link rel="stylesheet" href="/assets/kaginawa.css?v={{.Version}}"/>
</head>
<body>
<h1>Kaginawa Server</h1>
<button onclick="document.location='/admin'">Admin</button>
{{if .Reports}}
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Custom ID</th>
            <th>Hostname</th>
            <th>Received Time</th>
            <th>Connected Server</th>
            <th>Global IP</th>
            <th>Local IPv4</th>
            <th>Seq</th>
            <th>Version</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        {{range .Reports}}
            {{$alive := t_fresh .ServerTime 5}}
            <tr{{if not $alive}} class="state-old"{{end}}>
                <td><a href="/node/{{.ID}}">{{.ID}}</a></td>
                <td>{{.CustomID}}</td>
                <td>{{.Hostname}}</td>
                <td class="{{if $alive}}state-ok{{else}}state-old{{end}}">
                    {{t_fmt .ServerTime "2006/1/2 15:04:05"}}
                </td>
                <td>{{.SSHServerHost}} {{.SSHRemotePort}}</td>
                <td>{{if .GlobalHost}}{{.GlobalHost}}{{else}}{{.GlobalIP}}{{end}}</td>
                <td>{{.LocalIPv4}}</td>
                <td>{{.Sequence}}</td>
                <td>{{.AgentVersion}}</td>
                <td>
                    {{if .Errors}}
                        <span class="state-ng">
                            {{if eq (len .Errors) 1}}1 error{{else}}{{len .Errors}} errors{{end}}
                        </span>
                    {{else}}
                        <span class="state-ok">OK</span>
                    {{end}}
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
    Total: {{len .Reports}}
{{else}}
    <p>WARNING: No reports found.</p>
{{end}}
<p>
    MemAlloc: {{b_fmt .MemStats.Alloc}} /
    NumGC: {{.MemStats.NumGC}} /
    NumGoroutines: {{.NumGoroutines}} /
    GoVersion: {{.GoVersion}}
</p>
<hr/>
<address>Kaginawa Server {{.Version}}</address>
</body>
</html>
