<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kaginawa Server</title>
    <link rel="stylesheet" href="/assets/kaginawa.css?v={{.Version}}"/>
</head>
<body>
<h1>Kaginawa Server</h1>
User login
<form method="post" action="/login">
    <div>
        <label for="input-user">User</label>
        <input type="text" id="input-user" name="user"/>
    </div>
    <div>
        <label for="input-password">Password</label>
        <input type="password" id="input-password" name="password"/>
    </div>
    <div>
        <input type="submit"/>
    </div>
</form>
<hr/>
<address>Kaginawa Server {{.Version}}</address>
</body>
</html>
