<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kaginawa Server</title>
    <link rel="stylesheet" href="/assets/kaginawa.css"/>
</head>
<body>
<h1>Kaginawa Server</h1>
<button onclick="document.location='/nodes'">List</button>
<h2>{{.Report.ID}}{{if .Report.CustomID}} / {{.Report.CustomID}}{{end}}</h2>
<h3>Newest Report Information</h3>
<table>
    <tbody>
    <tr>
        <th>Received Time</th>
        <td>{{t_fmt .Report.ServerTime "2006/1/2 15:04:05"}}</td>
    </tr>
    <tr>
        <th>Device Time</th>
        <td>{{t_fmt .Report.DeviceTime "2006/1/2 15:04:05"}}</td>
    </tr>
    <tr>
        <th>Report Sequence Number</th>
        <td>{{.Report.Sequence}}</td>
    </tr>
    <tr>
        <th>SSH Status</th>
        <td>
            {{if ne .Report.SSHRemotePort 0}}
                <span class="state-ok">Connected</span>
            {{else}}
                Not connected or disabled
            {{end}}
        </td>
    </tr>
    {{if ne .Report.SSHRemotePort 0}}
        <tr>
            <th>SSH Server : Listen Port</th>
            <td>{{.Report.SSHServerHost}}:{{.Report.SSHRemotePort}}</td>
        </tr>
    {{end}}
    {{if gt .Report.RTTMills 0}}
        <tr>
            <th>Round Trip Time</th>
            <td>{{.Report.RTTMills}}ms</td>
        </tr>
    {{end}}
    {{if gt .Report.DownloadKBPS 0}}
        <tr>
            <th>Download Throughput</th>
            <td>{{.Report.DownloadKBPS}}kbps ({{.Report.DownloadMBPS}}Mbps)</td>
        </tr>
    {{end}}
    {{if gt .Report.UploadKBPS 0}}
        <tr>
            <th>Upload Throughput</th>
            <td>{{.Report.UploadKBPS}}kbps ({{.Report.DownloadMBPS}}Mbps)</td>
        </tr>
    {{end}}
    <tr>
        <th>Generation Time</th>
        <td>{{.Report.GenMillis}}ms</td>
    </tr>
    <tr>
        <th>Result</th>
        <td>
            {{if .Report.Errors}}
                <span class="state-ng">
                    {{if eq (len .Report.Errors) 1}}1 error{{else}}{{len .Report.Errors}} errors{{end}}
                </span>
            {{else}}
                <span class="state-ok">OK</span>
            {{end}}
        </td>
    </tr>
    {{if .Report.Errors}}
        <tr>
            <th>Error Details</th>
            <td>
                <ul>
                    {{range .Report.Errors}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </td>
        </tr>
    {{end}}
    </tbody>
</table>
<h3>Payload</h3>
{{if .Report.Payload}}
    Result of <code>{{.Report.PayloadCmd}}</code>:
    <pre>{{.Report.Payload}}</pre>
{{else}}
    <p>No payload in this report.</p>
{{end}}
<h3>Node Information</h3>
<table>
    <tbody>
    <tr>
        <th>Hostname</th>
        <td>{{.Report.Hostname}}</td>
    </tr>
    <tr>
        <th>Runtime</th>
        <td>{{.Report.Runtime}}</td>
    </tr>
    <tr>
        <th>Boot Time</th>
        <td>{{t_fmt .Report.BootTime "2006/1/2 15:04:05"}}</td>
    </tr>
    <tr>
        <th>Adapter Name</th>
        <td>{{.Report.Adapter}}</td>
    </tr>
    <tr>
        <th>Local IPv4</th>
        <td>{{.Report.LocalIPv4}}</td>
    </tr>
    <tr>
        <th>Local IPv6</th>
        <td>{{.Report.LocalIPv6}}</td>
    </tr>
    <tr>
        <th>Global IP</th>
        <td>{{.Report.GlobalIP}}</td>
    </tr>
    <tr>
        <th>Reverse Lookup Result</th>
        <td>{{if .Report.GlobalHost}}{{.Report.GlobalHost}}{{else}}N/A{{end}}</td>
    </tr>
    <tr>
        <th>Version</th>
        <td>{{.Report.AgentVersion}}</td>
    </tr>
    </tbody>
</table>
<h3>Command</h3>
<form method="post" action="/nodes/{{.Report.ID}}/command">
    <div>
        <label for="input-user">User</label>
        <input type="text" id="input-user" name="user" value="{{.User}}"/>
    </div>
    <div>
        <label for="input-password">Password</label>
        <input type="password" id="input-password" name="password" value="{{.Password}}"/>
    </div>
    <div>
        <label for="input-command">Command</label>
        <input type="text" id="input-command" name="command"/>
    </div>
    <div>
        <label for="input-timeout">Timeout (sec)</label>
        <input type="number" min="1" id="input-timeout" name="timeout" value="10"/>
    </div>
    <div>
        <input type="submit"/>
    </div>
</form>
<pre>{{.Response}}</pre>
<hr/>
<address>Kaginawa Server</address>
</body>
</html>
