{{template "header" .Meta}}
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="container mx-auto py-4">
    <a href="/nodes">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow">
            Back to list
        </button>
    </a>
    <h2 class="text-2xl font-bold">{{.Report.ID}}{{if .Report.CustomID}} / {{.Report.CustomID}}{{end}}</h2>
    <div id="chart-loading" style="position: absolute; left: 0; right: 0; margin: 50px auto;"></div>
    <canvas id="network-chart" width="400" height="80" style="min-height: 160px"></canvas>
    <div class="text-center">
        <div class="inline-flex">
            <button id="prev-button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
                &lt; Prev
            </button>
            <button id="next-button"
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r opacity-50 cursor-not-allowed"
                    disabled>
                Next &gt;
            </button>
        </div>
    </div>
    <h3 class="text-2xl">Newest Report Information</h3>
    <table class="table-auto">
        <caption hidden>Newest Report Information</caption>
        <tbody>
        <tr>
            <th class="border px-1 py-1" scope="row">Received Time</th>
            <td class="border px-1 py-1">{{t_fmt .Report.ServerTime "2006/1/2 15:04:05"}}</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Device Time</th>
            <td class="border px-1 py-1">{{t_fmt .Report.DeviceTime "2006/1/2 15:04:05"}}</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Report Trigger</th>
            <td class="border px-1 py-1">
                {{if .Report.IsBootTimeReport}}
                    Boot time
                {{else if .Report.IsSSHConnectedReport}}
                    SSH has been connected
                {{else if .Report.IsIntervalReport}}
                    Interval timer ({{.Report.Trigger}}min.)
                {{else}}
                    Unknown
                {{end}}
            </td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Report Sequence Number</th>
            <td class="border px-1 py-1">{{.Report.Sequence}}</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">SSH Status</th>
            <td class="border px-1 py-1">
                {{if ne .Report.SSHRemotePort 0}}
                    <span class="text-green-700">Connected</span>
                {{else}}
                    Not connected or disabled
                {{end}}
            </td>
        </tr>
        {{if ne .Report.SSHRemotePort 0}}
            <tr>
                <th class="border px-1 py-1" scope="row">SSH Server : Listen Port</th>
                <td class="border px-1 py-1">{{.Report.SSHServerHost}}:{{.Report.SSHRemotePort}}</td>
            </tr>
        {{end}}
        {{if gt .Report.RTTMills 0}}
            <tr>
                <th class="border px-1 py-1" scope="row">Round Trip Time</th>
                <td class="border px-1 py-1">{{.Report.RTTMills}}ms</td>
            </tr>
        {{end}}
        {{if gt .Report.DownloadKBPS 0}}
            <tr>
                <th class="border px-1 py-1" scope="row">Download Throughput</th>
                <td class="border px-1 py-1">{{.Report.DownloadKBPS}}kbps ({{.Report.DownloadMBPS}}Mbps)</td>
            </tr>
        {{end}}
        {{if gt .Report.UploadKBPS 0}}
            <tr>
                <th class="border px-1 py-1" scope="row">Upload Throughput</th>
                <td class="border px-1 py-1">{{.Report.UploadKBPS}}kbps ({{.Report.DownloadMBPS}}Mbps)</td>
            </tr>
        {{end}}
        <tr>
            <th class="border px-1 py-1" scope="row">Generation Time</th>
            <td class="border px-1 py-1">{{.Report.GenMillis}}ms</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Result</th>
            <td class="border px-1 py-1">
                {{if .Report.Errors}}
                    <span class="text-red-600">
                    {{if eq (len .Report.Errors) 1}}1 error{{else}}{{len .Report.Errors}} errors{{end}}
                </span>
                {{else}}
                    <span class="text-green-700">OK</span>
                {{end}}
            </td>
        </tr>
        {{if .Report.Errors}}
            <tr>
                <th class="border px-1 py-1" scope="row">Error Details</th>
                <td class="border px-1 py-1">
                    <ul>
                        {{range .Report.Errors}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <h3 class="text-2xl">Payload</h3>
    <div class="py-1">
        {{if .Report.Payload}}
            Result of <code>{{.Report.PayloadCmd}}</code>:
            <pre>{{.Report.Payload}}</pre>
        {{else}}
            <p>No payload in this report.</p>
        {{end}}
    </div>
    <h3 class="text-2xl">Node Information</h3>
    <table class="table-auto">
        <caption hidden>Node Information</caption>
        <tbody>
        <tr>
            <th class="border px-1 py-1" scope="row">Hostname</th>
            <td class="border px-1 py-1">{{.Report.Hostname}}</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Runtime</th>
            <td class="border px-1 py-1">{{.Report.Runtime}}</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Boot Time</th>
            <td class="border px-1 py-1">{{t_fmt .Report.BootTime "2006/1/2 15:04:05"}}</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Adapter Name</th>
            <td class="border px-1 py-1">{{.Report.Adapter}}</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Local IPv4</th>
            <td class="border px-1 py-1">{{.Report.LocalIPv4}}</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Local IPv6</th>
            <td class="border px-1 py-1">{{.Report.LocalIPv6}}</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Global IP</th>
            <td class="border px-1 py-1">{{.Report.GlobalIP}}</td>
        </tr>
        <tr>
            <th class="border px-1 py-1" scope="row">Reverse Lookup Result</th>
            <td class="border px-1 py-1">{{if .Report.GlobalHost}}{{.Report.GlobalHost}}{{else}}N/A{{end}}</td>
        </tr>
        {{if .Report.DiskMountPoint}}
            <tr>
                <th class="border px-1 py-1" scope="row">Usage of "{{.Report.DiskMountPoint}}"</th>
                <td class="border px-1 py-1">
                    {{.Report.DiskUsedBytes}}B ({{b_fmt .Report.DiskUsedBytes}}) /
                    {{.Report.DiskTotalBytes}}B ({{b_fmt .Report.DiskTotalBytes}})
                    ({{.Report.DiskUsageAsPercentage}})
                </td>
            </tr>
            <tr>
                <th class="border px-1 py-1" scope="row">Device of "{{.Report.DiskMountPoint}}"</th>
                <td class="border px-1 py-1">{{.Report.DiskDevice}}</td>
            </tr>
            <tr>
                <th class="border px-1 py-1" scope="row">Filesystem of "{{.Report.DiskMountPoint}}"</th>
                <td class="border px-1 py-1">{{.Report.DiskFilesystem}}</td>
            </tr>
            <tr>
                <th class="border px-1 py-1" scope="row">Disk Label of "{{.Report.DiskMountPoint}}"</th>
                <td class="border px-1 py-1">{{.Report.DiskLabel}}</td>
            </tr>
        {{end}}
        {{if .Report.USBDevices}}
            <tr>
                <th class="border px-1 py-1" scope="row">USB Devices</th>
                <td class="border px-1 py-1">
                    <ul>
                        {{range .Report.USBDevices}}
                            <li>{{.VendorID}}:{{.ProductID}} {{.Name}} ({{.Location}})</li>
                        {{end}}
                    </ul>
                </td>
            </tr>
        {{end}}
        {{if .Report.BDLocalDevices}}
            <tr>
                <th class="border px-1 py-1" scope="row">Bluetooth Local Devices</th>
                <td class="border px-1 py-1">
                    <ul>
                        {{range .Report.BDLocalDevices}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                </td>
            </tr>
        {{end}}
        <tr>
            <th class="border px-1 py-1" scope="row">Version</th>
            <td class="border px-1 py-1">{{.Report.AgentVersion}}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="text-2xl">Command</h3>
    <form method="post" action="/nodes/{{.Report.ID}}/command" class="w-full max-w-sm my-2">
        <div class="md:flex md:items-center mb-3">
            <div class="md:w-1/3">
                <label for="input-user" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                    User
                </label>
            </div>
            <div class="md:w-2/3">
                <input type="text" id="input-user" name="user" value="{{.User}}" autoComplete="nope"
                       class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"/>
            </div>
        </div>
        <div class="md:flex md:items-center mb-3">
            <div class="md:w-1/3">
                <label for="input-password" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                    Password
                </label>
            </div>
            <div class="md:w-2/3">
                <input type="password" id="input-password" name="password" value="{{.Password}}" autoComplete="nope"
                       class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"/>
            </div>
        </div>
        <div class="md:flex md:items-center mb-3">
            <div class="md:w-1/3">
                <label for="input-command" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                    Command
                </label>
            </div>
            <div class="md:w-2/3">
                <input type="text" id="input-command" name="command" autoComplete="nope"
                       class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"/>
            </div>
        </div>
        <div class="md:flex md:items-center mb-3">
            <div class="md:w-1/3">
                <label for="input-timeout" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                    Timeout (sec)
                </label>
            </div>
            <div class="md:w-2/3">
                <input type="number" min="1" id="input-timeout" name="timeout" value="10"
                       class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"/>
            </div>
        </div>
        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <input type="submit"
                       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow"/>
            </div>
        </div>
    </form>
    <pre class="bg-gray-100">{{.Response}}</pre>
</div>
<script>
    const nodeId = "{{.Report.ID}}";
    const daysPerPage = 3;
    const chartOptions = {
        scales: {
            xAxes: [
                {
                    type: "time",
                    time: {
                        unit: "hour",
                        unitStepSize: 6,
                        displayFormats: {
                            "hour": "MM/DD H:mm",
                        },
                        tooltipFormat: "YYYY/MM/DD HH:mm",
                    }
                }
            ],
            yAxes: [
                {
                    id: "rtt",
                    position: "left",
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 3000,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Round Trip Time (ms)",
                    }
                },
                {
                    id: "throughput",
                    position: "right",
                    ticks: {
                        beginAtZero: true,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Throughput (Mbps)",
                    }
                },
                {
                    id: "no-data",
                    position: "right",
                    display: false,
                    ticks: {
                        beginAtZero: true
                    }
                }
            ]
        },
        elements: {
            point: {
                pointStyle: "circle",
            }
        },
        tooltips: {
            mode: "index",
            intersect: false,
        }
    };
    const chartLoading = document.getElementById("chart-loading");
    const prevButton = document.getElementById("prev-button");
    const nextButton = document.getElementById("next-button");
    let page = 1;
    let chart = null;

    function fillEmpty(begin, end, histories) {
        const timeline = [];
        const errorTimelineBegin = begin.clone().minute(((begin.minutes / 10) ^ 1) * 10).second(0).millisecond(0)
            .add(40, "minutes");
        for (let i = 0; ; i++) {
            const next = errorTimelineBegin.clone().add(i * 10, "minutes");
            if (next.isAfter(end)) {
                break
            }
            let noData = true;
            for (let j = 0; j < histories.length; j++) {
                const lowerLimit = histories[j].timestamp.clone().subtract(10, "minutes");
                const upperLimit = histories[j].timestamp.clone().add(10, "minutes");
                if (next.isSameOrAfter(lowerLimit) && next.isSameOrBefore(upperLimit)) {
                    noData = false;
                    break
                }
            }
            if (noData) {
                timeline.push({
                    timestamp: next,
                    noData: true
                })
            }
        }
        return histories.concat(timeline).sort((a, b) => {
            return a.timestamp.diff(b.timestamp)
        })
    }

    function noData(ctx) {
        ctx.fillStyle = "gray";
        ctx.font = "15px sans serif";
        ctx.textAlign = "center";
        ctx.fillText("No Data", 200, 75);
    }

    function networkQualityChart() {
        chartLoading.classList.add('loader');
        const end = moment().subtract((page - 1) * daysPerPage, 'days');
        const begin = moment().subtract(page * daysPerPage, 'days');
        const ctx = document.getElementById('network-chart').getContext('2d');
        const request = new XMLHttpRequest();
        request.open("GET", "/nodes/" + nodeId + "/histories?projection=measurement&begin=" + begin.unix() + '&end=' + end.unix());
        request.addEventListener("load", (event) => {
            chartLoading.classList.remove('loader');
            if (event.target["status"] !== 200) {
                console.error(`[net_chart] ${event.target["status"]}: ${event.target["statusText"]}`);
                noData(ctx);
                return;
            }
            const result = JSON.parse(event.target["responseText"]);
            const histories = fillEmpty(begin, end, (result ? result : []).map(h => {
                h.timestamp = moment(h["server_time"] * 1000);
                return h
            }));
            if (chart !== null) {
                chart.destroy();
            }
            chart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: histories.map(h => h.timestamp),
                    datasets: [
                        {
                            label: "Round Trip Time (ms)",
                            type: "bar",
                            data: histories.map(h => h["rtt_ms"] > 0 ? h["rtt_ms"] : null),
                            backgroundColor: "rgba(54, 162, 235, 0.5)",
                            borderColor: "rgba(54, 162, 235, 0.5)",
                            pointRadius: 0,
                            pointHoverRadius: 2,
                            borderWidth: 1,
                            yAxisID: "rtt",
                        },
                        {
                            label: "Upload Throughput (Mbps)",
                            data: histories.map(h => h["upload_bps"] ? h["upload_bps"] / 1000 : null),
                            backgroundColor: "rgba(255, 159, 64, 0.2)",
                            borderColor: "rgba(255, 159, 64, 1)",
                            fill: false,
                            pointRadius: 0,
                            pointHoverRadius: 2,
                            borderWidth: 1,
                            yAxisID: "throughput",
                        },
                        {
                            label: "Download Throughput (Mbps)",
                            data: histories.map(h => h["download_bps"] ? h["download_bps"] / 1000 : null),
                            backgroundColor: "rgba(75, 192, 192, 0.2)",
                            borderColor: "rgba(75, 192, 192, 1)",
                            fill: false,
                            pointRadius: 0,
                            pointHoverRadius: 2,
                            borderWidth: 1,
                            yAxisID: "throughput",
                        },
                        {
                            label: "No Data",
                            data: histories.map(h => h.noData ? 1 : 0),
                            backgroundColor: "rgb(255, 99, 132, 0.5)",
                            borderColor: "rgb(255, 99, 132, 0.0)",
                            fill: true,
                            pointRadius: 0,
                            borderWidth: 0,
                            yAxisID: "no-data",
                        },
                    ]
                },
                options: chartOptions
            });
        });
        request.send();
    }

    function updateChart() {
        const newest = page <= 1;
        nextButton.disabled = newest;
        if (newest) {
            nextButton.classList.add("opacity-50", "cursor-not-allowed");
        } else {
            nextButton.classList.remove("opacity-50", "cursor-not-allowed");
        }
        networkQualityChart();
    }

    prevButton.onclick = function () {
        page++;
        updateChart();
    };

    nextButton.onclick = function () {
        page--;
        updateChart();
    };

    networkQualityChart();
</script>
{{template "footer" .Meta}}
