{{template "header" .Meta}}
<div class="container mx-auto py-4">
    {{if .Reports}}
        <table class="mx-auto">
            {{if .Filtered}}
                <caption class="text-left">
                    {{$q := .Pager.Queries}}
                    {{range $k, $vs := $q}}
                        {{range $vs}}
                            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                                {{$k}}: <b>{{.}}</b>
                                <form method="get" action="" class="inline-block">
                                    {{range $k2, $vs2 := $q}}
                                        {{if ne $k2 $k}}
                                            {{range $vs2}}
                                                <input type="hidden" name="{{$k2}}" value="{{.}}"/>
                                            {{end}}
                                        {{end}}
                                    {{end}}
                                    <button>
                                        <svg class="inline-block fill-current h-4 w-4 text-gray-600" role="button"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                            <title>Clear</title>
                                            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                                        </svg>
                                    </button>
                                </form>
                            </span>
                        {{end}}
                    {{end}}
                </caption>
            {{else}}
                <caption hidden>List of Reports</caption>
            {{end}}
            <thead>
            <tr>
                <th class="px-1 py-1" scope="col">ID</th>
                <th class="px-1 py-1" scope="col">Custom ID</th>
                <th class="px-1 py-1" scope="col">Hostname</th>
                <th class="px-1 py-1" scope="col">Received Time</th>
                <th class="px-1 py-1 hidden lg:table-cell" scope="col">Connected Server</th>
                <th class="px-1 py-1 hidden lg:table-cell" scope="col">Global IP</th>
                <th class="px-1 py-1 hidden lg:table-cell" scope="col">Local IP</th>
                <th class="px-1 py-1" scope="col">Seq</th>
                <th class="px-1 py-1 hidden lg:table-cell" scope="col">Version</th>
                <th class="px-1 py-1" scope="col">Result</th>
            </tr>
            </thead>
            <tbody>
            {{range .Reports}}
                {{$alive := t_fresh .ServerTime 5}}
                <tr{{if not $alive}} class="text-gray-600"{{end}}>
                    <td class="border px-1 py-1">
                        <a href="/nodes/{{.ID}}" class="underline">{{.ID}}</a>
                    </td>
                    <td class="border px-1 py-1">{{.CustomID}}</td>
                    <td class="border px-1 py-1">{{.Hostname}}</td>
                    <td class="border px-1 py-1 {{if $alive}}text-green-700{{else}}text-gray-600{{end}}">
                        {{t_fmt .ServerTime "2006/1/2 15:04:05"}}
                    </td>
                    <td class="border px-1 py-1 hidden lg:table-cell">
                        {{if .SSHRemotePort}}{{.SSHServerHost}}:{{.SSHRemotePort}}{{else}}N/A{{end}}
                    </td>
                    <td class="border px-1 py-1 hidden lg:table-cell"
                        title="{{if .GlobalHost}}{{.GlobalHost}}{{else}}{{.GlobalIP}}{{end}}">
                        {{.GlobalIP}}
                    </td>
                    <td class="border px-1 py-1 hidden lg:table-cell">{{.LocalIPv4}}</td>
                    <td class="border px-1 py-1">{{.Sequence}}</td>
                    <td class="border px-1 py-1 hidden lg:table-cell">{{.AgentVersion}}</td>
                    <td class="border px-1 py-1">
                        {{if .Errors}}
                            <span class="text-red-600">
                            {{if eq (len .Errors) 1}}1 error{{else}}{{len .Errors}} errors{{end}}
                        </span>
                        {{else}}
                            <span class="{{if $alive}}text-green-700{{end}}">OK</span>
                        {{end}}
                    </td>
                </tr>
            {{end}}
            </tbody>
            <caption style="caption-side: bottom">
                Showing <strong>{{.Pager.Head}}</strong> to <strong>{{.Pager.Tail}}</strong>,
                Total <strong>{{.Pager.Total}}</strong>
            </caption>
        </table>
        <div class="text-center py-1">
            <div class="inline-flex">
                {{if eq .Pager.Current 1}}
                    <button disabled
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-l shadow opacity-50 cursor-not-allowed">
                        &lt; Prev
                    </button>
                {{else}}
                    <form method="get" action="" class="inline-block">
                        {{range $k, $vs := .Pager.Queries}}
                            {{if ne $k "page"}}
                                {{range $vs}}
                                    <input type="hidden" name="{{$k}}" value="{{.}}"/>
                                {{end}}
                            {{end}}
                        {{end}}
                        <input type="hidden" name="page" value="{{.Pager.Prev}}"/>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-l shadow">
                            &lt; Prev
                        </button>
                    </form>
                {{end}}
                {{if eq .Pager.Total .Pager.Tail}}
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r shadow opacity-50 cursor-not-allowed"
                            disabled>
                        Next &gt;
                    </button>
                {{else}}
                    <form method="get" action="" class="inline-block">
                        {{range $k, $vs := .Pager.Queries}}
                            {{if ne $k "page"}}
                                {{range $vs}}
                                    <input type="hidden" name="{{$k}}" value="{{.}}"/>
                                {{end}}
                            {{end}}
                        {{end}}
                        <input type="hidden" name="page" value="{{.Pager.Next}}"/>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r shadow">
                            Next &gt;
                        </button>
                    </form>
                {{end}}
            </div>
        </div>
    {{else}}
        <p>WARNING: No reports found.</p>
    {{end}}
</div>
{{template "footer" .Meta}}
