table {
    margin: 5px 0;
    border: 1px solid gray;
    border-collapse: collapse;
}

th {
    border: 1px solid gray;
    background-color: whitesmoke;
    padding: 3px;
}

td {
    border: 1px solid gray;
    padding: 3px;
}

code {
    background-color: whitesmoke;
    padding: 3px;
}

pre {
    color: darkgreen;
}

.center {
    text-align: center;
}

.state-ok {
    color: green;
}

.state-ng {
    color: red;
}

.state-old {
    color: gray;
}
